@charset "utf-8";
/********** 全局 **********/

table,td{border:0px;border-collapse:collapse;}
.mt10px{margin-top:10px}
.cb{clear:both}
.w160px{width:120px;}
 .titel{text-overflow:ellipsis; overflow:hidden;  -o-text-overflow:ellipsis; white-space:nowrap; -moz-binding: url("../other/moz-text-overflow.xml#XBLDocument");}
html {height: 100%;}
.ts ul{margin:0;padding:0;}
.ts,.frm{display:inline;margin-left:10em;}
.ts ul{list-style:none;height:26px;}
.ts ul li{height:20px;}
.ts ul li a{line-height:1.6em;margin:0 1.2em; color:#336d6b; height:20px; line-height:20px;}
.ts ul li.on{position:relative;background:#aed953;margin-left:-2px; border:#8fb66c 1px solid;}
.ts ul li.on a{color:#fff;}
.ts ul li.on b{display:none;}
.ts a,.cp a{text-decoration:none;}
.frm{text-align:left;}
.ts ul li.mr{width:80px;margin-left:.8em;}
.l,.ts ul li,.ts ul li a,.ts,.frm{float:left;}
.ts,.frm{_float /* */:none;}
.r,.ts ul li b{float:right;}
.amipt{width:20px}

body,td,th,div,span,input,select {font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;font-size: 12px; line-height:160%}

h1,h2,h3,h4,h5{font-family: Verdana, Arial, Helvetica, sans-serif, 宋体;}
a{text-decoration: none; color:#333}
ul,ol,li,dl,dt,dd,p,body,form{ margin:0px; padding:0px;list-style: none;}
img {border:0;}
hr{margin:0px; padding:0px}
.BigErr{font-size:30px; font-family:黑体; color:#085984; line-height:40px; margin:4px;}
.ErrMsg{background:#FFF7DE; padding:6px 12px; border:1px #FFDF7B solid; font-size:14px}

.table5 table table{margin:0px auto;width:100%;}
.table5 td table td{line-height:1.4;display: table-cell;vertical-align: inherit;
vertical-align: inherit;padding:0px;margin:0px;}
.more{text-align:right; padding-right:6px}
.textarea{border:1px solid #999; }
.fr{float:right}
.comment_title{ color:#0d5d9a; font-weight:bold; padding-left:24px}
.comment_title div{ font-weight:normal}
.comment_title span{font-size:10px; float:right; color:#999}
.none{display:none}
/* CSS Document */
.itemContent .art>a{
	display: none;
}
.itemContent{padding:1px;font-size: 14px;}
.pager {height: 26px;float: right; clear:both}
.pager .AtStart {color: #999;padding: 2px 5px;margin: 0 2px;}
.pager .this-page { color: #FF6600;font-weight: bold;padding: 2px 5px;margin: 0 2px;}
.pager a {border: #DDD 1px solid;padding: 2px 5px;text-decoration: none;margin: 0 2px;line-height: 20px; height:20px;color: #656565;background: #FFF; display:inline-block;}
.pager a {display:inline;}
.pager a:hover {color: #ff7500;border:#ffb97d 1px solid ; }
.art h1{font-size: 20px;
	color: #333;
text-align: center;
margin: 48px 0px 24px 0px;
line-height: 36px;
font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;}
h2.haveline{ border-bottom:1px solid #ccc; font-size:14px;color:#666; padding-left:8px; margin-bottom:6px}
a.bigfont{ padding:5px;  background:#000; color:#fff; margin-left:1px}
a.midfont{ padding:5px;  background:#7f7f7f; color:#fff; margin-left:1px}
a.smallfont{ padding:5px;  background:#b2b2b2; color:#fff; margin:0px 1px}
h1.search_result{ color:#333; font-size:14px; background:#FFF7CE; padding:4px 12px; clear:left}
.search_result span{color:#FF0000; font-size:14px; margin-left:6px}

h1.zl,h3.zl{font-family:黑体; font-size:18px; color:#3b5e7a; font-weight:normal; margin:4px}
h2.zl{color:#fff; background:#227eaf; font-size:14px; font-weight:bold; padding:5px 10px}
h2.h_lm{color:#666; background:#e8f2f7; font-size:14px; font-weight:normal; padding:6px 24px; clear:both}
.AlbumPhotos {display:block;float: left;margin: 0px 2px;background-color: #FFFFFF;width: 90px;height: 110px;}
.AlbumImage {width: 90px;height: 90px;}
.AlignMiddle .Outer {overflow: hidden; position: relative;margin:0 auto;}
.AlignMiddle .Outer[class] {display: table;position: static;}
/* for ff */
*+html .AlignMiddle .Outer[class]{position: relative;}
/* for ie7 */
.AlignMiddle .Middle {position: absolute;top: 50%;width: 100%;left: 0px;}
.AlignMiddle .Middle[class] {display: table-cell;vertical-align: middle; position: static;}
/* for ff */
*+html .AlignMiddle .Middle[class]{position: absolute;}
/* for ie7 */
.AlignMiddle .Inner {position: relative;top: -50%;margin: 0 auto;}
.AlbumImage a img {border: 1px #f2f2f2 solid;padding:1px; margin:1px}
.AlbumImage a:hover img{ border:2px solid #FFE384;}
.AlbumComment a:hover{ color:#ff7500}
.hy a{ background:#f2f2f2; color:#333; padding:1px 0px; margin:1px; width:120px; text-align:center; display:block; overflow:hidden; float:left; clear:none}
.hy a:hover{background:#2996CE; color:#fff}
.hy{clear:both}
.times th{ background:#f3f3f3; font-size:14px; text-align:left; text-indent:6px}
.times td{ font-size:12px;  text-indent:6px; color:999}
.times{ float:left; width:180px; margin-left:40px}
.AlbumComment {width: 90px;text-align: center;overflow: hidden;color: #666666;margin-top: 2px;line-height: 18px; height:36px; display:block}
.AlbumImageBorder {width: 90px;height: 90px;text-align: center;}
.text_a{clear:both}
.text_a a{ width:90px;text-align:center;float:left; background:#f2f2f2; margin:2px 0px 0px 4px}
.nav_name{background:#e5e5e5; color:#000; font-size:14px; font-weight:bold; text-align:center; vertical-align:middle; width:180px; height:30px}
.nav_links,.nav_links a{ color:#aaa; margin:0px 6px; vertical-align:top;}
.nav_links a:hover{color:#ff7500}
.edt_content{ border:1px solid #ccc; padding:8px 24px; clear:both}
.summary_art{ background:#f2f2f2; color:#616161; padding:12px; line-height:24px}
.summary_mail{ background:#e9f2f7; padding:3px 5px; color:#666; margin:2px 0px}
.summary_mail a{ color:#b50a00; font-weight:bold; margin-left:15px}
.summary_mail a:hover{text-decoration:underline}
.summary_text{background:#f3f3f3; padding:3px 5px; text-indent:24px; line-height:19px; margin:6px 0px}
.summary_zl{color:#3b5e7a; text-indent:24px}
.summary_author{ border:1px solid #eee; padding:3px 0px 3px 12px; color:#aaa; margin:6px 0px}
.summary_author a.red{ color:#FF0000}
.summary_Artlist{ color:#333; padding-bottom:6px; border-bottom:1px solid #aaa; margin-bottom:6px}
.summary_Artlist a{ margin:0px 6px}
.summary_Artlist a:hover{color:#ff7500}
.keywords span{ font-weight:bold; padding:0px 6px}
.keywords{ margin:6px 12px}
.keywords a{ color:#045c9e; padding:12px 15px 0px 6px}
.keywords a.kmap{ background:url(../images/kmap.gif) right no-repeat}
.keywords a:hover{color:#ff7500}

.nav_menu{border-bottom:#cecfce 1px solid; margin-bottom:3px; clear:both}
.nav_passport{text-align:left}
.nav_passport span{ color:#31696b; margin:0px 6px; font-weight:bold; }
.btn_org{ background:url(../images/btn_bg.gif) repeat-x; height:24px; border:1px solid #a4c8a4; padding:0px 4px ; margin-right:6px}
.btn_over{ background:url(../images/btn_bg.gif) repeat-x; height:24px; border:1px solid #9ecc00; padding:0px 4px ; margin-right:6px}
.textbox{background:url(../images/fill_ALL_p.gif) repeat-x left 0px; border:1px #ccc solid; height:18px; line-height:18px; color:#666; }
textarea.textbox{height:auto; background:none #FFFFFF;}
.textbox1{ border:1px #ccc solid; height:18px; line-height:18px; color:#666; margin-right:4px; text-indent:2px }
input.btn{background:url(../images/bg_all_p.gif) 0px -351px no-repeat; width:82px; height:23px; border:none; letter-spacing:6px;color:#333; margin:0px 4px}
a.btn{background:url(../images/bg_all_p.gif) 0px -350px no-repeat; width:82px; height:25px; border:none; display:block; color:#333; line-height:25px; text-align:center; float:left; margin-right:6px}
.icos a{background: url(../images/ico_org.gif) no-repeat 0px 40px; padding:2px 6px 2px 26px; color:#0055b1;}
.icos a:hover{color:#ff0000}
.icos a.ico_prt{ background-position:0px 0px}
.icos a.ico_copy{ background-position:0px -22px}
.icos a.ico_fav{ background-position:0px -48px}
.icos a.ico_mail{ background-position:0px -75px}
a.logout{background: url(../images/ico_all_p.gif) no-repeat 0px 0px;line-height:16px;padding-left: 20px; cursor:pointer; text-decoration:none; color:#333}

.nav_passport a{ color:#004d6f; margin:0px 3px; text-decoration:underline;}
.nav_passport a:hover{color:#ff7500}
.nav_menu dl dd{background:#D6E3F7;padding:4px 6px 2px 6px;border-bottom:1px solid #ccc}
.nav_menu dl dt{ padding:4px 6px 2px 6px; background:#639ACE }
.nav_menu{color:#666;border-top:1px solid #ccc;}
span.txz{ line-height:16px; padding:4px 6px;width:60px;}
.nav_menu dl a{ color:#333; margin:0px 4px }
.nav_menu dl a:hover{ color:#ff7500; }
.xls a{background:url(../images/ico_down.gif) 0px 0px no-repeat;}
.doc a{background:url(../images/ico_down.gif) 0px -40px no-repeat; }
.ppt a{background:url(../images/ico_down.gif) 0px -80px no-repeat;}
.txt a{background:url(../images/ico_down.gif) 0px -120px no-repeat; }
.rar a,.zip a{background:url(../images/ico_down.gif) 0px -160px no-repeat; }
.pdf a{background:url(../images/ico_down.gif) 0px -200px no-repeat; }
.content_art,.content_art p,.content_art div{ /*font-size:14px;  text-indent:2em; */ line-height:180%; overflow:hidden; margin:0px 12px;font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;}
.content_art p{margin:14px 0px;font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;}
div.content_art{margin:0 auto 50px;width:998px;padding-left:0;}

.leftmenu ul{ clear:both; border-top:1px solid #666;border-bottom:1px solid #666; line-height:300%; background:#f5f5f5}
.leftmenu li a{background: url(../images/dot_all.gif) right -335px no-repeat; width:178px; display:block; text-indent:18px; font-size:14px; border-bottom:1px solid #eee}
.leftmenu li a:hover{background:#fff; }
#search .show { display:block;}
.row1{margin:2px; background:url(../images/hotsearch.gif) no-repeat #fff6ce; padding-left:24px}
.row1 a{ margin:0px 3px; color:#444}
.row1 a:hover{ color:#ff7500}
.row2{margin:2px; background:#f5f8fd; padding-left:24px}
.row2 a{ margin:0px 3px; color:#444}
.row2 a:hover{ color:#ff7500}
body>div .ftext{width:80px}
.SubjectSwf{background:#f0f6ff; border:1px solid #bbb; margin:4px; padding:3px}
a.logo{ background:url(../images/logo.gif) no-repeat 10px 0px;width:110px ; height:50px; display:block;float:left; margin:0px; text-indent:-9999px}
.MM{margin:2px; clear:both}
.table199{background: #717d79;}
.notice_B_0{padding:2px 0px;width:950px;margin:0px auto;height:24px;line-height:24px;background:url(../images/noticeicon.gif) no-repeat #717d79 10px;overflow:hidden;}
.notice_L_0 ul li{float:left;margin-right:40px;height:24px;line-height:24px}
#div_2419_2418 ul{width:1400px;display: block;
height: 24px;}
.notice_L_0 ul li a{color:#fff;font-size:14px}
.notice_L_0 {margin-left:50px}
.mod_B_herbGG0{position:relative;z-index:200;}
.mod_M_herbGG1{border-radius: 3px;position: absolute;top:45px;right:5px;background:#fff;opacity: 0.5;width:190px;z-index:300;height:245px;display:block}
.mod_M_herbGG0{position: absolute;top:50px;right:10px;z-index:400;}
.mod_M_herbGG0 img{width:180px;height:230px}
.mod_H_herb1{}
.mod_H_herb1 .itemHeaderInner{ height:24px; line-height:20px;  background: #fff;}
.mod_H_herb1 span.tab:first-child{}
.mod_H_herb1 span.tab{-webkit-box-shadow: 0 0 4px #cdcdcd;
-moz-box-shadow: 0 0 4px #cdcdcd;
box-shadow: 0 0 4px #cdcdcd;
background: #fff;
display:block;float:left;width:50px;text-align: center;border:1px solid #d3d3d3;line-height: 20px;margin-left: -1px; color: #999;font-size: 14px;font-weight:bold;position: relative; }
.mod_H_herb1 .itemHeaderInner span.on,.mod_H_herb1 span.tab:hover{ -webkit-box-shadow: 0 0 4px #cdcdcd;
-moz-box-shadow: 0 0 4px #cdcdcd;
box-shadow: 0 0 4px #cdcdcd;background:#9eaa02;color:#fff;text-decoration:none;position: relative;}

.mod_H_herb1 span.tab a{text-decoration:none;color:#999}
.mod_H_herb1 .itemHeaderInner span.tab:hover a,.mod_H_herb1 .itemHeaderInner span.on a,.mod_H_herb1 span.tab a:hover{padding-bottom: 12px;background:url('../images/arr-b.png') no-repeat center bottom;color:#fff}

.mod_H_daren1{text-indent:-999px;height:90px;background: url(../images/index-dr.jpg) center top no-repeat;text-align:center;font-weight:bold;display:block}
.mod_H_daren1  .more1{display:none}
.mod_L_daren1 .inoforleft{text-align:center;width:180px}
.mod_L_daren1 td{vertical-align: top;line-height:160%}
.mod_L_daren1 table {margin:0px auto}
.mod_L_daren1 .inoforleft td{padding:2px;}
.mod_L_daren1 .inoforleft .inoforleft_left{text-align:center;width:80px}
.mod_L_daren1 .inoforright{text-align:left;width:675px}
.mod_L_daren1 .dareninfor{border:1px #e1e1e1 solid;border-radius: 10px;padding:9px 15px}
.mod_L_daren1 .dareninfor table{width:100%}
.mod_L_daren1 .dareninfor table td{padding:4px}
.mod_L_daren1 .inoforright_1 img{border:1px #e3e3e3 solid;padding:1px;width:230px;max-height:230px}
.mod_L_daren1 .inoforright_1 a{}
.mod_L_daren1 .inoforright_1{width:240px}
.mod_L_daren1 .inoforright_2 {width:85px;color:#597400;font-weight:bold;text-align:right}
.mod_L_daren1 .inoforright_3{width:310px;color:#7d7d7d;text-align:left}
.mod_L_daren1 .inoforright_3 a{color:#a7b517}
.mod_L_daren1 .inoforright_3 div{text-align:right}
.mod_L_daren1 .inoforleft .inoforleft_left span{padding:2px 16px;background:#e9f2bb;font-weight:bold;font-family:"微软雅黑";color:#5c552b;}
.mod_L_daren1 .inoforleft img{ width:71px;height:71px;background-size:71px}
.mod_L_daren1 .inoforleft .inoforleft_right{text-align:left;width:100px;color:#7e7e7e;line-height:16px}
.mod_L_herb2 {margin:14px 16px;width:120px;height:230px;overflow-y:auto;}

#GG2327{background: #F3EDCD;}
.mod_L_herb2 li{padding-left: 14px;background: url(../images/icon_title.png) 0px 9px no-repeat;line-height: 24px;}
.mod_L_herb2 li a{color:#707070}
.mod_B_Tv1{ padding:7px;background:#fff;overflow:hidden;border:1px solid #e2e2e2;border-top:3px solid #9fab00;margin-bottom:5px;}
.mod_H_Tv1{padding-top:50px;background: url(../images/tvbg.gif) center top no-repeat;text-align:center;font-weight:bold}
.mod_L_daren1 li{height:300px;margin-bottom:10px;width:950px;}
.mod_H_Tv1 a{color:#909090;}
.mod_H_Tv1  .more1{display:none}
.mod_M_Tv1{text-align:center}
.mod_M_Tv1 .MM{min-height:120px}
.mod_M_Tv1 img{width:150px;height:120px}
.mod_M_Tv1 a.title{color:#c2a351;padding-bottom:30px;background: url(../images/knowmore.gif) center bottom no-repeat;display:block}
.table222{}
.table222 table{width:950px;margin:0px auto;}
.table4{width:950px;margin:0px auto;}
.table222 table,.table4 table{table-layout: fixed;overflow: hidden;}
.table222 td.left{text-align:center;padding:16px 0px;background:#fff;width:186px;overflow: hidden;}
.table222 td.center{width:764px}

.table222 td.left .mod_B_herb1{width:160px;margin:0px auto;text-align:left}
.table233{width:950px;margin:0px auto;table-layout: fixed;}
.table233 table{table-layout: fixed;}
.table233 td.left{padding-top:30px;width:180px;padding-right:20px}
.table233 td.center{background:#fff;padding-top:30px;}
.table111{margin:0px auto;width:950px;table-layout: fixed;overflow: hidden;}
.table122{margin:10px auto;width:950px;table-layout: fixed;overflow: hidden;}

.table122 td.left{background:#fff;}
.table244{margin:10px auto 0px;width:950px;table-layout: fixed;}
.table244 td.left{padding-right:11px;width:471px;}
.MyorderH .itemHeaderInner,.Myorder .itemHeaderInner{ font-size:24px;font-family:"微软雅黑"}
.MyorderH span.more1 ,.Myorder span.more1 {display:none}
.MyorderH a,.MyorderH span.t ,.Myorder a,.Myorder span.t {font-size:24px;font-family:"微软雅黑";font-weight:bold;color:#6c6c6c}
.MyorderH a:hover,.Myorder a:hover {font-size:24px;font-family:"微软雅黑"}

.mod_B_xp1,.Commend_B{background:#fff;border:1px solid #e2e2e2;margin-top:5px;overflow:hidden}
.Commend_B{}
.mod_H_xp1{background:#f4f4f4;border-bottom:1px solid #e2e2e2;}
.mod_H_xp1 .itemHeaderInner{ padding:7px 13px; font-weight:bold}
.mod_H_xp1 span.more1 {display:none}
.mod_H_xp1 a,.mod_H_xp1 span.t {color:#545454}
.mod_H_xp1 a:hover {color:#ff0000}
.mod_M_xp1{text-align:center;}
.mod_M_xp1 a.title{display:block;clear:both;height:35px;overflow:hidden;line-height:35px;color:#696969}
.mod_M_xp1 .tipimg,.mod_M_xp1 .ph{display:none}
.mod_M_xp1 .pro-name{display:none}
.mod_M_xp1{margin-bottom: 10px;}
.mod_M_xp1 .com-img{float:left;width:57px;border-right:1px solid #e5e5e5;overflow:hidden;height:80px}
.mod_M_xp1 .com-img img{max-height:80px;margin-left: -10px;}
.mod_M_xp1 div.com-img:last-child{border-right:none!important}
.mod_M_xp1 .com-proinfo,.mod_M_xp1 .com-probg{display:none}
.tipimg{position: absolute;right: 20px;width: 40px;background-size: 40px;}


.Commend-pro .com-img {text-align:center}
.Commend-pro .com-img img{width:100px;}
.Commend-pro li p{line-height:18px;color:#656565;text-align:left;font-size:12px;}
.Commend-pro li p.pro-name{max-height:18px;overflow:hidden;text-align:center}
.Commend-pro li p.pro-name a{color:#696969}
.Commend-pro li p.pro-priceA{color:#a4b416;font-weight:bold;text-align:center}
.Commend-pro li p.pro-priceA span{display:none}
.Commend-pro li p.pro-priceA span.M-price{display:inline-block}
.Commend-pro li p.pro-CountA span{color:#f0b43a;font-weight:bold}
.Commend-pro li p.pro-CountA {color:#3f3f3f;text-align:center}
.Commend-pro li p.pro-summary,.Commend-pro li p.pro-priceB{display:none}
.Commend-pro .ph{width:61px;height:61px;position: absolute;left:0px;top:0px}
.Commend-pro .paihan1{background:url(../images/paihan1.png) no-repeat;}
.Commend-pro .paihan2{background:url(../images/paihan2.png) no-repeat;}
.Commend-pro .paihan3{background:url(../images/paihan3.png) no-repeat;}
.Commend-pro .paihan4{background:url(../images/paihan4.png) no-repeat;}
.Commend-pro .paihan5{background:url(../images/paihan5.png) no-repeat;}
.Commend-pro .paihan6{background:url(../images/paihan6.png) no-repeat;}
.Commend-pro .paihan7{background:url(../images/paihan7.png) no-repeat;}
.Commend-pro .paihan8{background:url(../images/paihan8.png) no-repeat;}
.Commend-pro .paihan9{background:url(../images/paihan9.png) no-repeat;}
.Commend-pro .paihan10{background:url(../images/paihan10.png) no-repeat;}
.Commend_H{text-indent:-999px;border-bottom:1px solid #e2e2e2;background:url(../images/hotsale.gif) no-repeat left top #f4f4f4;height:42px;display:block}
.Commend-pro ul{margin:0px;background:#fff}
.Commend-pro li{clear:both;height:184px;border-bottom:1px solid #e2e2e2;margin-top:10px;position:relative}
.Commend-pro .more a{display: block;color: #fff;background: url(../images/knowmore.gif) center no-repeat;height: 30px;}
.MyorderH {background: url(../images/My-title.jpg) 11px 12px no-repeat;padding: 6px 42px;font-size: 24px;font-family: "微软雅黑";}
.Commend-pro_1 .com-img {text-align:center}
.Commend-pro_1{clear:both}
.Commend-pro_1 .com-img img{width:130px;}
.Commend-pro_1 li p{line-height:18px;color:#656565;font-size:12px;}
.Commend-pro_1 li p.pro-name{max-height:18px;overflow:hidden;text-align:center}
.Commend-pro_1 li p.pro-name a{color:#696969}
.Commend-pro_1 li p.pro-summary{font-size:14px; color:#969696}
.Commend-pro_1 li p.pro-priceA{color:#fff;background:#9eaa00;padding:2px 8px;text-align:center}
.Commend-pro_1 li p.pro-priceB,.Commend-pro_1 li p.pro-CountA,.Commend-pro_1 .ph {display:none}
.Commend_H{text-indent:-999px;border-bottom:1px solid #e2e2e2;background:url(../images/hotsale.gif) no-repeat left top #f4f4f4;height:42px;display:block}
.Commend-pro_1 ul{margin:0px;background:#fff}
.Commend-pro_1 li{float:left;display:block;width:184px;height:240px;border:1px solid #fff;background: url(../images/rightlinebg.gif) right no-repeat;position:relative;text-align:center}
.Commend-pro_1 li:hover{float:left;display:block;width:184px;height:240px;border:1px solid #b7be3c;background: none;position:relative;text-align:center}
.Commend-pro_1 li .com-proinfo{width:130px;margin:0px auto}
.Commend-pro_1 li:nth-child(4n) {background: none;}.Commend_PL1 {border: 1px solid gainsboro;height: 410px;background: white;}

.PL1{width: 238px;float: left;display: block;height: 410px;}
.PL1 a.maintitles{width: 238px;float: left;display: block;height: 410px;background: url(../images/pl1.jpg) no-repeat left top;text-indent: -999px;}
.PL1 .more1{display:none}


.Commend_PL2 {border: 1px solid gainsboro;height: 410px;background: white;}
.PL2{width: 238px;float: left;display: block;height: 410px;}
.PL2 a.maintitles{width: 238px;float: left;display: block;height: 410px;background: url(../images/pl2.jpg) no-repeat left top;text-indent: -999px;}
.PL2 .more1{display:none}


.Commend_PL3 {border: 1px solid gainsboro;height: 410px;background: white;}
.PL3{width: 238px;float: left;display: block;height: 410px;}
.PL3 a.maintitles{width: 238px;float: left;display: block;height: 410px;background: url(../images/pl3.jpg) no-repeat left top;text-indent: -999px;}
.PL3 .more1{display:none}
.Commend_PL4 {border: 1px solid gainsboro;height: 410px;background: white;}
.PL4{width: 238px;float: left;display: block;height: 410px;}
.PL4 a.maintitles{width: 238px;float: left;display: block;height: 410px;background: url(../images/pl4.jpg) no-repeat left top;text-indent: -999px;}
.PL4 .more1{display:none}
.Commend-pro_2 .com-img img, .mod_B_yhTwo .com-img img{height:125px;width:125px}
.Commend-pro_2 li p, .mod_B_yhTwo li p{line-height:18px;color:#656565;font-size:12px;}
.Commend-pro_2 li p.pro-name, .mod_B_yhTwo li p.pro-name{height:60px;line-height:60px;overflow:hidden;text-align:left;}
.Commend-pro_2 li p.pro-name a, .mod_B_yhTwo li p.pro-name a{color:#797979;font-size:14px;font-weight:bold;}
.Commend-pro_2 li p.pro-summary, .mod_B_yhTwo li p.pro-summary{font-size:12px; color:#8b8b8b;height:70px;text-align:left;overflow:hidden}
.Commend-pro_2 li p.pro-priceA, .mod_B_yhTwo li p.pro-priceA{color:#797979;text-align:left;height:21px;line-height:21px;margin-right:1px}
.Commend-pro_2 li p.pro-cart, .mod_B_yhTwo li p.pro-cart{position: absolute;right: 10px;bottom: 31px;}
.Commend-pro_2 li p.pro-cart a, .mod_B_yhTwo li p.pro-cart a{display:block;width:85px;height:23px;background:url(../images/gbuy.gif) no-repeat}
.Commend-pro_2 li p.pro-priceB,.Commend-pro_2 li p.pro-CountA,.Commend-pro_2 .ph, .mod_B_yhTwo li p.pro-priceB, .mod_B_yhTwo li p.pro-CountA, .mod_B_yhTwo .ph {display:none}
.Commend-pro_2,.Commend-pro_2  ul{float:left;background:#fff;height:410px;overflow:hidden;width:220px;display:block}
.Commend-pro_2 li{float:left;display:block;width:230px;height:205px;margin:0px auto;border-bottom:1px solid #dcdcdc;position:relative;text-align:center}
.Commend-pro_2 li .com-proinfo, .mod_B_yhTwo li com-proinfo{float:left;width:95px}
.Commend_PLjf {border-left:1px solid #dcdcdc;border-top:1px solid #dcdcdc;overflow-y: hidden;width: 744px;}
.Commend-pro_jf .com-img,.Commend-pro_2 .com-img  {width:125px;float:left;overflow: hidden;display:block}
.Commend-pro_jf .com-img img{height:125px;}
.Commend-pro_jf li p{line-height:18px;color:#656565;font-size:12px;}
.Commend-pro_jf li p.pro-name{height:60px;line-height:60px;overflow:hidden;text-align:left;margin-left:5px;}
.Commend-pro_jf li p.pro-name a{color:#797979;font-size:14px;font-weight:bold;}
.Commend-pro_jf li p.pro-summary{font-size:12px; color:#8b8b8b;height:70px;text-align:left}
.Commend-pro_jf li p.pro-priceA{color:#797979;text-align:left;height:21px;line-height:21px;margin-right:1px}
.Commend-pro_jf li p.pro-cart{position: absolute;right: 10px;bottom: 31px;}
.Commend-pro_jf li p.pro-cart a{display:block;width:122px;height:23px;background:url(../images/gbuy.gif) no-repeat}
.Commend-pro_jf li p.pro-priceB,.Commend-pro_jf li p.pro-CountA,.Commend-pro_jf .ph {display:none}
.Commend-pro_jf li{float:left;display:block;width:247px;height:205px;margin:0px auto;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;position:relative;text-align:center}
.Commend-pro_jf li .com-proinfo{float:left;width:122px}

.mod_B_yhTwo li{
	float: left; 
	width: 50%;
	position: relative;
}
.mod_B_yhTwo li p.pro-cart{
	position: static;
}
.mod_B_yhTwo li p.pro-cart a{
	margin: 3px auto;
}
.mod_B_yhTwo .com-img img{
	margin: auto;
}
.mod_B_yhTwo li p.pro-name{padding: 0 10px;height: 30px;line-height: 30px;}
.mod_B_yhTwo li p.pro-priceA{text-align: center;}


.mod_B_0{ border:none; clear:both}
.mod_B_1{ border:1px #ccc solid; margin:2px 0px 3px 0px; clear:both}
.mod_B_2{ border:1px #C4D8F5 solid; margin:2px 0px 3px 0px;clear:both}
.mod_B_3{ border:1px #CFCFCF solid; margin:2px 0px 3px 0px;clear:both}
.mod_B_4{border:1px #C61C06 solid;margin:2px 0px 3px 0px;clear:both}
.mod_B_5{border:1px #4581B4 solid;margin:2px 0px 3px 0px; background:#e6e7e8;clear:both}
.mod_B_P1{margin:20px 5px 5px 200px;}
.itemHeaderInner{clear:both;width: 1200px;margin: 0 auto;}
.itemHeaderInner span.more1,.itemHeaderInner span.mpic{float:right}
.nogm .itemHeaderInner span.mpic{display:none}

.mt{margin-top:5px}
.mod_H_0{ display:none; clear:both}
.mod_H_1{background:url(../images/fill_ALL_p.gif) repeat-x 0px -400px; clear:both}
.mod_H_1 .itemHeaderInner{ padding:4px 4px 4px 12px; font-weight:bold}
.mod_H_1 span.more1 {display:none}
.mod_H_1 a,.mod_H_1 span.t {color:#000}
.mod_H_1 a:hover {color:#ff0000}

.mod_H_3{background:#548AC9; clear:both }
.mod_H_3 .itemHeaderInner{ padding:4px 4px 4px 12px; font-weight:bold}
.mod_H_3 a,.mod_H_3 span.t {color:#fff; text-decoration:underline}
.mod_H_3 a:hover {text-decoration:none}

.mod_H_4{background:#C61C06; margin-bottom:4px; clear:both}
.mod_H_4 .itemHeaderInner{ padding:4px 4px 4px 12px; font-weight:bold}
.mod_H_4 span.more1 {display:none}
.mod_H_4 a,.mod_H_4 span.t {color:#fff; text-decoration:underline}
.mod_H_4 a:hover {text-decoration:none}

.mod_H_5 { padding:3px 8px;line-height:24px; clear:both;background:#e7efff; margin:1px;  }
.mod_H_5 span.more1 {display:none}
.mod_H_5 span.t,.mod_H_5 a{ font-weight:bold; color:#395d84; font-size:14px; }

.mod_H_6 { padding:3px 8px;line-height:24px; clear:both;margin:1px; border-bottom:2px solid #eee}
.mod_H_6 span.more1 {display:none}
.mod_H_6 span.t,.mod_H_6 a{ font-weight:bold; color:#333; font-size:13px; }
.mod_H_12 a {}
.mod_H_12 a:hover {}
.mod_H_12 { color:#000; font-size:14px; background:#ccc; padding:3px 8px; font-weight:bold; clear:both}

.BB .mod_H_5{ float:right; display:block;background: none; padding:0px; margin-top:6px}
.BB .mod_H_5 span.t,.BB .mod_H_5 a{color:#8C8A8C; font-weight:normal;font-size:12px;  }
.mod_T_1 span.t{ float:left;color:#f3c100; display:block; font-size:28px; width:200px; font-family:'黑体'; line-height:40px; font-weight:bold}
.mod_T_1{clear:both; height:40px}
.mod_T_1 a{float:left; display:block;background:#c7c6c7; color:#333;padding:10px 20px; font-size:14px; margin:1px; font-weight:bold}
.mod_T_1 a.on{ color:#fff; background:#f3c100; }
.mod_T_2{clear:both;background:url(../images/tab_bg.gif) repeat-x;height:33px}
.mod_T_2 span.t{float:left; font-weight:bold; color:#333; font-size:12px; padding-top:3px;line-height:33px}
.mod_T_2 a{display:block; width:49px; height:33px; background: url(../images/tab_normal.gif) no-repeat ;  border-top:none; border-left:none;text-align:center; font-size:12px; line-height:32px; color:#333;float:left}
.mod_T_2 a.on{ background: url(../images/tab_act.gif) no-repeat ;font-weight:bold;color:#ba3b00;}
.mod_T_3 span.t{ float:left; line-height:20px; font-size:14px; color:#333; font-weight:bold; padding-top:3px}
.mod_T_3{clear:both; height:20px; border-bottom:1px solid #888}
.mod_T_3 span.tab{float:right; display:block;background:#B5B5B5; color:#333;margin:0px 2px; border:1px #888888 solid; border-bottom:none}
.mod_T_3 a{ padding:2px 8px; line-height:18px; display:block; margin-top:1px; background:#999; color:#fff}
.mod_T_3 a:hover{ text-decoration:underline}
.mod_T_3 a.on{ color:#000; background:#fff; margin:0px; line-height:19px }
.mod_T_4{clear:both;background:#F7F7FF;height:28px;border-bottom:1px solid #C6DBF7 }
.mod_T_4 span.t{float:left; font-weight:bold; color:#333; font-size:12px; padding-top:3px;line-height:28px}
.mod_T_4 a{display:block; height:28px; background: #fff;   border-right:#C6DBF7 1px solid; font-size:12px;  color:#7ab4ff;float:left;padding:0px 3px;line-height:28px}
.mod_T_4 a.on{ background:#C6DBF7;font-weight:bold;color:#fff;}
.pic img{ margin:6px; clear:left}
.myorder_M{padding:2px;}

.mod_M_list p.summary{ text-indent:24px; color:#666;line-height:18px; height:54px}
.mod_M_list a.title{ color:#333366; line-height:24px; font-size:14px; font-weight:bold; }
.mod_M_list{ margin-top:12px; clear:both}
.mod_M_list a.ind{ font-size:14px; color:#990000}

.mod_M_0{ padding:4px 8px;}
.mod_M_0 p{ text-indent:24px}
.mod_M_1 .pic img{ height:60px; width:60px; padding:1px; border:1px solid #999; margin:7px 6px 7px 6px }
.mod_M_1 p.summary{ text-indent:24px; color:#666;line-height:18px}
.mod_M_1 a.title{ color:#0c479d; line-height:24px}
.mod_M_2{ padding:4px; clear:both}
.mod_M_2 .pic img{ height:80px; width:80px; padding:1px; border:1px solid #999;  }
.mod_M_2 p.summary{ text-indent:24px; color:#666; line-height:18px}
.mod_M_2 a.title{ color:#0c479d; line-height:24px; font-weight:bold}
.mod_M_3 { width:950px; margin:0 auto; overflow:hidden;font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;}
.mod_M_3 a.pic {float: left;
    height: 122px;margin-right: 20px;width: 178px;overflow:hidden;display:block;border-radius: 6px;}
.mod_M_3 .pic img {clear:none;width: 178px;border-radius: 6px;}
.mod_M_3 p.summary {font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 24px;
    margin-top: 8px;
}
.mod_M_3 .MM {font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;
    border-bottom: 1px solid #E8E8E8;
    clear: none;
    margin-bottom: 0;
    margin-right: 20px;
    min-height: 170px;
    padding: 6px 8px 10px 7px;
   position: relative;
}
.mod_M_3 .MM span.summarymore a {
    color: #A80B01;
    text-decoration: none;
}
.mod_M_3 .MM span.summarymore a:hover {
    text-decoration: underline;
}
.mod_M_3 a.title {font-family: "Microsoft YaHei","宋体",Arial,SimSun,Helvetica,sans-serif;
    color: #333;
    display: block;
    font-size: 24px;
    margin: 20px 0;
    text-decoration: none;
}
.mod_M_3 a.title:hover {
    font-size: 24px;
    text-decoration: underline;
}
.mod_M_3 .MM .moretext { background:url(../images/textmore.png) no-repeat; font-size: 14px;
    height: 39px;
    line-height: 39px;
    position: absolute;
    right: 0;
    width: 152px;
    z-index: 899;}
.mod_M_3 .MM .moretext a { font-size:14px; color:#333; text-decoration:none;padding-left: 20px;}
.mod_M_3 .MM .moretext a:hover { text-decoration:underline; color:#000;}


.mod_M_4 .pic img{ width:100px;   height:75px; padding:1px; border:1px solid #ccc}
.mod_M_4 p.summary{ color:#999;line-height:15px;margin-top:2px; margin-bottom:6px;  }
.mod_M_4 .MM{border-bottom:1px dotted #ccc;}
.mod_M_4 a.title{ color:#33648c; font-size:14px ;font-weight:bold}
.mod_M_5 .title,.mod_M_5 a.title{color:#006194; font-size:14px; font-weight:bold;}
.mod_M_5 p.summary{ color:#666;line-height:18px;margin:6px 4px 12px 4px; font-size:12px; text-indent:24px}
.mod_M_5 .pic img{ border:1px solid #ccc; padding:1px; width:60px; }

.mod_L_1 ul{ clear:both}
.mod_L_1 ul li{ list-style:none; line-height:180%;}
.mod_L_1 ul li a{color:#0c479d;padding-left:16px; background:url(../images/dot_all.gif) left -47px no-repeat;}
.mod_L_1 a:hover{color:#FF0000}
.mod_L_2 ul{clear:both}
.mod_L_2 ul li{ list-style:none;line-height:180% }
.mod_L_2 ul li a{color:#0c479d;padding-left:16px; background:url(../images/dot_all.gif) left -97px no-repeat;}
.mod_L_2 a:hover{color:#FF0000}
.mod_L_3 ul { clear:both; margin:5px 0px; }
* html .mod_L_3 ul{height:80px}
.mod_L_3 ul li{ list-style:none; margin:1px 3px ;float:left; display:block; border:1px solid #7e9fbe; width:90px;background:#f0f4ff; height:23px; text-align:center}
.mod_L_3 ul li a{ color:#38598c;  letter-spacing:3px; font-size:14px;font-weight:bold; white-space: nowrap; line-height:23px}
.mod_L_3 a:hover{color:#FF0000}
.mod_L_4 ul{clear:both; margin:9px 0px}
.mod_L_4 ul li{ list-style:none;background:#9DB9E8; border:1px #4E61AD solid; margin:0px 4px; height:26px ; line-height:26px;line-height:180%  }
body>div .mod_L_4 ul li{margin:2px 4px}
.mod_L_4 ul li a{color:#fff; padding:0px 4px; font-size:14px; line-height:26px}
.mod_L_4 a:hover{color:#FF0000}
.mod_L_5 ul { clear:both }
.mod_L_5 ul li{ padding-left:16px; background:url(../images/dot_all.gif) left -145px no-repeat;list-style:none; line-height:180%}
.mod_L_5 ul li a{color:#333366;}
.mod_L_5 ul li a.ind{ background:none; padding:0px; color:#990000}
.mod_L_5 a:hover{color:#FF0000}
.mod_L_6 ul { clear:both }
.mod_L_6 ul li{ padding-left:16px; background:url(../images/dot_all.gif) left -145px no-repeat;list-style:none; line-height:180%;border-bottom:1px dotted #ccc}
.mod_L_6 ul li a{color:#333;}
.mod_L_6 ul li a.ind{ background:none; padding:0px; color:#990000}
.mod_L_6 a:hover{color:#c60000}

.half{ margin-bottom:24px}
.half ul li{ width:43%; float:left; height:23px; overflow:hidden;}
.half ul{padding:2px 0px}

.mod_S_1{ background:#fff;}
.mod_S_1 .itemHeader{}
.mod_S_1  img.pic,.mod_S_1  .pic img{ width:970px; padding:2px; margin:4px}
.mod_S_1 .title{ color:#0c479d; font-size:14px; background:#fff; padding:4px; width:90% ; display:block; text-align:center}
.mod_S_1 .summary{background:#fff; padding:4px; margin:4px 0px; color:#333}
.mod_S_2 {background:#fff; border:1px dotted #ccc; padding:4px; margin:4px}
.mod_S_2  img.pic,.mod_S_2  .pic img{ width:970px; padding:2px; margin:4px}
.mod_S_2 .title{ color:#0c479d; font-size:14px; background:#fff; padding:4px; width:90% ; display:block; text-align:center}
.mod_S_2 .summary{background:#fff; padding:4px; margin:4px 0px; color:#333; border:1px solid #666}
.mod_S_3  img.pic,.mod_S_3  .pic img{ width:970px;}
.mod_S_3 .title{ display:none}
.mod_S_3 .summary{ display:block; float:left; width:500px; height:60px; color:#333; margin:-70px 0px 0px 24px; overflow:hidden}
.mod_S_4  img.pic,.mod_S_4  .pic img{ width:120px; padding:2px; margin:4px; height:120px; border:1px soild #000; float:left; margin:5px}
.mod_S_4 .title{ color:#3366FF; font-size:12px;padding:4px;display:block; text-align:center; font-weight:bold}
.mod_S_4 .summary{padding:4px; margin:4px 0px; color:#333; font-size:12px}
.mod_S_4 {border:4px #c0c0c0 solid; float:left}
.mod_S_5{border-left:7px solid #efc700; height:190px; padding:5px 0px 0px 7px; margin:0px}
.mod_S_5 .main{ background:#efc700; padding:14px; height:140px; margin:0px}
.mod_S_5 .pic{ float:right}
.mod_S_5 .title{ color:#fff; font-size:14px; line-height:36px; font-weight:bold}
.mod_S_5 p.summary{ color:#fff}


.vote_area {clear:both;}
.vote_title div {clear:both;}
h2.vote_t {cursor: hand; }

.headerMenuInside{ background:#fff; border-bottom:1px solid #ccc;  margin-bottom:6px; line-height:20px;  margin:4px;}
.headerMenuInside a{ font-size:12px; margin:0px 1px }
.headerMenuInside a:hover{color:#ff0000}

.emb{margin:2px 0px}
.selects{padding:6px;  background:#d5e2f1; margin:2px 0px}
.btnnew{ letter-spacing:0px; background: url(../images/btn_Soft.gif) no-repeat; width:81px; height:24px; line-height:24px; color:#fff; font-size:13px; border:none; cursor:pointer; text-align:center; margin:0px 6px; font-weight:bold}
a.btnnew1{background: url(../images/btn_Soft.gif) no-repeat; padding:6px 15px;width:81px; height:24px; line-height:24px; color:#fff; font-size:13px; border:none; cursor:pointer; text-align:center; margin:0px 6px; font-weight:bold}
.selects a.btnnew{float:right;}
.btn_it { background:url(../images/btn_Soft.gif) left -50px no-repeat; width:53px; height:19px; line-height:19px; color:#333; font-size:12px; text-align:center; border:none;}


.Nav_header{ line-height:42px; padding:6px 0px; border-bottom:1px solid #ccc; margin-bottom:6px; margin:0px 4px}
.Nav_header a:hover{color:#ff0000}
.nav_footer{ background:#487C7A; color:#fff; padding:0px 6px}
.nav_footer a{color:#fff}
.width{width:500px}

#layout_wrap{ width:100%; margin:0px auto; }
#layout_wrap1{ width:100% margin:0px auto; }
#layout_main td{ vertical-align:top}
/*.table1 ,.table2,.table3,.table4,.table5,.table6,.table7{margin-bottom:10px}*/
.table1 td,.table2 td,.table3 td,.table4 td,.table6 td,.table7 td{ table-layout:fixed; overflow:hidden }
.table1 .left{ width:330px; }
.table1 .center{ width:330px}
.table1 .right{width:330px}
.table2 .left{ width:340px}
.table2 .center{ width:410px}
.table2 .right{width:235px}
.table3 {width:950px;margin:0px auto}
.table3 .left{ width:755px;background:#fff}
.table3 .center{ width:235px;background:#fff}

.table4 .left{ width:235px;background:#fff}
.table4 .center{ width:755px;background:#fff}
.table6 .left{ width:370px}
.table6 .center{ width:370px}
.table6 .right{ width:235px}
.table7 .left{ width:270px}
.table7 .center{ width:370px}
.table7 .right{ width:200px}
.table7 .extra{ width:150px; text-align:right}
.table8 .left{ width:180px}
.table8 .center{ width:580px}
.table8 .right{ width:230px}
.table9 .left{ width:200px}
.table9 .center{ width:590px}
.table9 .right{ width:200px}
.table_static1 th{ background:#b5d35a; color:#fff;}
.table_static1 th.t{ background:#dae9ac; color:#5d8000; font-weight:normal}
.table_static1 th.l{ background:#f0f6de; color:#5d8000; font-weight:normal}
.table_static1 td{  color:#333; text-align:center}
.table_static1 td.t{text-align:left}
.table_static1 td span{color:#999}

.date{color:#999; font-size:10px}
.cate dl{ height:24px; overflow:hidden}
.cate dt{ background:#f2f2f2; padding:2px 2px; float:left; margin:1px 2px; clear:left; width:100px; text-align:left}
.cate dd{ padding:2px 6px; float:left; margin:1px 3px; white-space: nowrap}
a.pdf{ background:}
.download{background:#FFFFDE; border:1px solid #BD9218; padding:3px 10px; margin:6px 0px; }
.download a{ padding:2px 0px 2px 20px}
a.red,ul li a.red{color:#FF0000}
/**.tipimg .ph .pro-name
.com-img
.com-proinfo
.pro-summary
.pro-priceA
.pro-priceB
.pro-CountA
.pro-cart
.com-probg
.com-img {text-align:center}
.com-img img{width:100px;margin:10px 0px}
.Commend-pro li p{line-height:18px;color:#656565;text-align:left;font-size:12px;}
.Commend-pro li p.pro-name{max-height:18px;overflow:hidden;}
.Commend-pro li p.pro-name a{color:#696968}
.Commend-pro li p.pro-price{height:18px;overflow:hidden;}
.Commend-pro li p.pro-price b{font-size:14px}
.Commend-pro li p.pro-priceA{color:#a4b416;font-weight:bold}
.Commend-pro li p.pro-CountA b{color:#f0b237;font-weight:bold}
.Commend-pro li p.pro-CountA {color:#434343}
.Commend-pro .ph{width:61px;height:61px;position: absolute;left:0px;top:0px}
.Commend-pro .paihan1{background:url(../images/paihan1.png) no-repeat;}
.Commend-pro .paihan2{background:url(../images/paihan2.png) no-repeat;}
.Commend-pro .paihan3{background:url(../images/paihan3.png) no-repeat;}
.Commend-pro .paihan4{background:url(../images/paihan4.png) no-repeat;}
.Commend-pro .paihan5{background:url(../images/paihan5.png) no-repeat;}
.Commend-pro .paihan6{background:url(../images/paihan6.png) no-repeat;}
.Commend-pro .paihan7{background:url(../images/paihan7.png) no-repeat;}
.Commend-pro .paihan8{background:url(../images/paihan8.png) no-repeat;}
.Commend-pro .paihan9{background:url(../images/paihan9.png) no-repeat;}
.Commend-pro .paihan10{background:url(../images/paihan10.png) no-repeat;}


**/


.mt110{
	margin-top:66px;}
.itemContent .articleContentTittle{ border-bottom:1px dotted #d8d8d8;}
.itemContent .articleContent{ line-height:30px;text-indent: 0;margin-left: 80px;}
.itemContent .articleContent hr{ height:1px; border:1px dotted #bdbdbd; border-bottom:none; }

.itemContent .articleContent .art>a{
	display: none;
}

.nhT table{
	margin: auto;
	width: 1920px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}
.nhT table img{
	vertical-align: bottom;
}